.card,
.card-face,
.card-inner {
  box-sizing: border-box;
}

.card {
  width: 90px;
  height: 120px;
  perspective: 1000px;
  cursor: pointer;
  position: absolute;
  transition: top 0.2s;
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.isNotDiscovered .card-inner {
  transform: rotateY(180deg);
}

.card.isNotDiscovered {
  pointer-events: none;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 14px;
  background: linear-gradient(135deg, #f9f7f3 0%, #faf8f5 50%, #f9f7f3 100%);
  box-shadow: 0 4px 8px rgba(163, 24, 24, 0.12);
  border: 1.5px solid #ddd;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-face img {
  width: 90px;
  height: 125px;
  object-fit: cover;
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22);
}

.board {
  margin-top: 15%;
  display: flex;
  padding: 20px;
}

.draw {
  display: flex;
  gap: 12px;
  padding: 20px;
  position: relative;
  left: 24.5px;
}

.stack {
  position: relative;
  width: 100px;
  height: 400px;
}

.droppable {
  height: 500px;
  width: 500px;
  color: aquamarine;
}

.draggable {
  width: 100px;
  height: 100px;
  border-radius: 14px;
  background-color: rgb(73, 46, 46);
  border: 4px solid #48898d;
}
