.card,
.card-face,
.card-inner {
  box-sizing: border-box;
}

.card {
  width: 90px;
  height: 120px;
  perspective: 1000px;
  cursor: pointer;
  position: absolute;
  transition: top 0.2s;
  box-shadow: 0 0 0 2px red; /* Red outline for hitbox */
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.card.isNotDiscovered .card-inner {
  transform: rotateY(180deg);
}

.card.isNotDiscovered {
  pointer-events: none;
}

.card-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 14px;
  background: linear-gradient(135deg, #f9f7f3 0%, #faf8f5 50%, #f9f7f3 100%);
  box-shadow: 0 4px 8px rgba(163, 24, 24, 0.12);
  border: 1.5px solid #ddd;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-empty {
  border-radius: 14px;
  border: 1.5px solid #ddd;
  width: 90px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-face img {
  width: 90px;
  height: 125px;
  object-fit: cover;
  border-radius: 10px;
}

.card-back {
  transform: rotateY(180deg);
}

.card:hover {
  transform: translateY(-6px) scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22);
}

.board {
  margin-top: 10%;
  display: flex;
  padding: 20px;
}

.draw {
  display: flex;
  gap: 12px;
  padding: 20px;
  position: relative;
  margin-left: 23px;
}

.stack {
  position: relative;
  width: 100px;
  height: 500px;
}

.emptyStack {
  width: 90px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 8px;
}

.droppable {
  height: 500px;
  width: 500px;
  color: aquamarine;
}

.draggable {
  width: 100px;
  height: 100px;
  border-radius: 14px;
  background-color: rgb(73, 46, 46);
  border: 4px solid #48898d;
}

.top-bar {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.win-stacks {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  /* margin-top: 20px; */
}

.drop-win {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.container {
  display: flex;
  flex-direction: column;
}

.moving-card {
  position: absolute;
  width: 80px;
  height: 120px;
  pointer-events: none;
}

.undo {
  height: 100px;
  width: 100px;
}
